// Bootstrap library.
@import "bootstrap";

// General styles ==============================================================
html, body {
  width: 100%;
  height: 100%;
  background: @white;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: @primary;
}

// Layout styles ===============================================================
h1 {

}
